*{
	padding: 0px;
	margin:0px auto;
	font-family: "微软雅黑";
	
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
input{
	outline: none;
}
#head{
	height:80px;
	width:100%;
    position: fixed;
	top:0px;
	left: 0px;
	box-shadow:0px 1px 1px #D3D3D3;
	z-index: 999;
	background: #fff;
}
#head a{
	color:#000;
}
.header_box{
	width:1200px;
	height:100%;
	margin:0px auto; 
}

#head .header_logo{
	width:150px;
	height: 100%;
	display: block;
	float: left;
}
#head .header_logo img{
	padding-top:20px; 
}
.header_right{
    height:100%;
	float: left;
	text-align: center;
	margin-left:30px;
}
.header_right li{
  height: 80px;
  line-height: 80px;
  float: left;
  margin-left: 12px;
  padding: 0 12px;
  font-size: 18px;
}
#head .userInfo .username span{
	color:red;
}
#head .userInfo li{
	height:80px;
	line-height:80px;
	text-align: center;
	float: left;
	margin:0 15px;
}
.header_right li a{
	height:100%;
	display: block;
}
.header_right li a:hover{
  border-bottom:2px solid #ea5e43 ;
  color:#ea5e43 !important;
}
.header_right li.active{
  border-bottom:2px solid #ea5e43 ;
  color:#ea5e43;
}

.header_right li a{
	color:black;
}

#head .userInfo{
	float: right;
}

#loginBox,#registerBox{
	width:384px;
	padding:50px 24px 24px 24px;
	z-index:2000;
	background:#fff;
	position:fixed;
	top:-400px;
	left:50%;
	transform:translate(-50%,0);
	display:none;
}
#loginBox h1,#registerBox h1{
	font-weight:normal;
	font-size:30px;
}
#loginBox h1 span,#registerBox h1 span{
	font-size: 14px;
	color: #999;
	padding: 10px 0px;
	float: right;
}
#loginBox h1 span a,#registerBox h1 span a{
	color: #c32854;
	margin-left: 5px;
}
.login_content,.reg_content{
	margin: 30px 0px;
}
.login_content span,.reg_content span{
	display: block;
	margin: 10px 0px;
}
.login_content span input,.reg_content span input{
	width: 90%;
	height: 45px;
	line-height: 45px;
	padding: 0 5%;
	border: 1px solid #dae2e5;
	color: #999;
}
.login_content span button,.reg_content span button{
	width: 100%;
	height: 45px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background: #c32854;
}
#msg,#msg1{
	display: none;
	padding-top: 5px;
	color: #f00;
	font-weight:bold;
}

.login_close{
	width: 19px;
	height: 19px;
	position: absolute;
	top: 15px;
	right: 15px;
}
button{
	cursor: pointer;
	border: none;
	background: none;
}
.login_close img{
	transition:all 0.5s;
}
.login_close img:hover{
	transform:rotate(180deg);
}
#loginMask{
	width: 100%;
	height: 100%;
	z-index:1999;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	opacity: 0.8;
}
.reg_content span button.phoneCode{
	width: 80px;
	height: 47px;
	background:#66cc33;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0;
	right: 0;
	outline: none;
}
.reg_content span {
	position: relative;
}
.reg_content span button{
	background: #66cc33;
}

#bot{
	margin-top:20px;
	width:100%;
	display: block;
	background: #E9E9E9;
}
.clear{
	clear:both;
}

.foot_box .link{
	width:100%;
	height:50px;
	background: white;
	
}
.foot{
	border-bottom: 1px solid #cbcbcb;
}
.foot_box .link .link_box{
	width:1200px;
	margin:0px auto;
}
.foot_box .link .link_box a{
	line-height: 50px;
	font-size:14px;
	color:#565656;
	margin-right:42px;
}
.foot .foot_info{
   padding: 30px 0 20px;
   width:1200px;
   margin:0px auto;
}
.foot_info .foot_info_left{
	float: left;
}
.foot_info_left  .f_about_company{
	float: left;
	margin-right: 40px;
	font-size: 14px;

}
.foot_info_left .f_about_company p{
   margin-bottom:12px;
  height:22px;
  line-height: 22px;
  display: block;

} 
.f_about_company p a{
  padding-right: 10px;
  color:#3e3e3e;
}
.f_about_company p a img{
    vertical-align: top; 
}
.f_about_company .f_button_share{
	padding-top: 20px;
}
.f_about_company .f_button_share a{
	width:26px;
	height:26px;
	display:inline-block;
	margin-right:5px;
}

.f_button_share .share_qq{
	background: url(../images/qq_ico.png) no-repeat;
}
.f_button_share .share_txwb{
	background: url(../images/txwb_ico.png) no-repeat;
}
.f_button_share .share_weix{
	background: url(../images/wx_ico.png) no-repeat;
}
.f_button_share .share_txweb{
	background: url(../images/xlwb_ico.png) no-repeat;
}
.foot_info_left .f_contact_us{
	float: left;
	font-size: 14px;
	color: #6d6d6d;
}
.f_contact_us ul li{
	margin-bottom: 15px;
}
.foot_info_right{
	float: right;
}
.foot_info_right .foot_info_code{
	width:auto;
	text-align: center;
	font-size: 14px;
}
.foot_info_code .info_code_box{
 padding:7px;
 width:78px;
 border:1px solid #bbbbbb;
 margin-bottom: 5px;
}
.foot_info_code p{
	color:#808080;
}
.footer_copy .footer_copy_box{
	width:1200px;
	height: 47px;
	line-height: 47px;
	margin:0px auto;
	color:#363636;
	font-size: 14px;
}