*{
    padding: 0px;
    margin:0px auto;
    font-family: "微软雅黑";
}
body{
    font-family: tahoma,Arial,"Microsoft YaHei",SimSun;
    font-size: 14px;
    color: #333;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.box{
    min-width:1200px;
}

/*头部大图*/
#recom{
    width:100%;
    min-width:1200px;
    height:350px;
    margin-top:80px;
    background:url(../../public/images/task_reccombg.jpg) center center no-repeat;
}
.rec_cont{
    padding:0px 0px 0px 90px;
}
.task_reclist{
    float: left;
    width: 400px;
    height: 300px;
    margin: 25px 15px 25px 0px;
    position: relative;
}
.reclist_title{
    width:400px;
    position:absolute;
    bottom:0px;;
    left:0px;
}
.reclist_title span{
    display: inline-block;
    float: left;
    color: #fff;
}
.reclist_price{
    width: 70px;
    background: #ea5e44;
    padding: 5px;
    text-align: center;
}
.reclist_price i{
    display: block;
    font-style: normal;
    font-size: 12px;
}
.reclist_price strong{
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.reclist_dec{
    width: 320px;
    height:52px;
    background: rgba(198,198,198,0.6);
}
.reclist_dec a{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin:0px 0px 3px 10px;
}
.rec_cont a:hover{
    text-decoration: underline;
}
.reclist_dec p{
    color: #ddd;
    margin:0px 0px 0px 10px;
}
.reclist_right{
    float: right;
    width: 410px;
    margin: 25px 0px 25px 0px;
    overflow: hidden;
}
.reclist_right span{
    display: block;
    width: 140px;
    float: left;
    margin: 0px 45px 5px 0px;
}
.reclist_right span a{
    display: block;
    line-height: 24px;
    color: #fff;
    overflow: hidden;
}

/*往期踪迹栏目*/
#past_trail{
    padding:20px 80px;
}
.caption{
    margin-bottom:20px;
}
.caption .name1{
    font-size:24px;
    color: #383838;
}
.caption .name2{
    margin: 10px 0 0 10px;
    font-size: 18px;
    font-family: arial;
    color: #737373;
}

/*往期栏目导航栏*/
#past_trail .past_nav{
    width: 1200px;
    height: 45px;
    background: #4d4d4d;
    margin: 0 auto;
}
.past_nav ul li{
    float:left;
    margin-right: 1px;
}
.past_nav ul li.active a{
    background: #ea5e44;
}
.past_nav ul li a{
    display: block;
    padding: 0px 30px;
    line-height: 45px;
    color: #fff;
    font-size:14px;
}
.past_nav ul li a:hover{
    background: #ea5e44;
}

/*往期任务导航栏搜索框*/
.past_nav .task_search{
    float: right;
    margin: 8px 15px;
    position: relative;
}
.past_nav .task_search input{
    width: 200px;
    padding: 5px 35px 5px 10px;
    color: #ccc;
    background: #333333;
    border-radius: 5px;
    border:none;
    outline-style: none;  /*点击输入框时无轮廓*/
}
.past_nav .task_search a{
    display: block;
    width: 18px;
    height: 18px;
    background:url(../../public/images/searchico2.png) no-repeat;
    position: absolute;
    right: 8px;
    top: 6px;
    z-index: 2;
}

/*往期任务列表*/
.task_list{
    width: 100%;
    padding: 20px 0px 50px 0px;
    background: #f0f0f0;
}
.task_list .task_listbox{
    width:1200px;
    margin: 0 auto;
    overflow: hidden;
}
/*任务分页查询*/
.task_list .task_listbox .task_listleft{
    width: 955px;
    float: left;
}
.task_listleft .task_listsort{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    background: #eaeaea;
    border: 1px solid #ddd;
}
.task_listleft .task_listsort span{
    display:inline-block;
}
.task_listleft .task_listsort .task_page{
    float: right;
    margin: 0px 5px 0px 0px;
}
.task_listleft .task_listsort .pagepre,.pagenext{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left: 2px;
    color: #666;
    border: 1px solid #ccc;
    background: #fff;
}
.task_listleft .task_listsort .pagepre:hover,.task_listleft .task_listsort .pagenext:hover{
    background:#eee;
}

/*任务列表内容*/
.task_cont{
    background: #fff;
    padding: 10px 20px 20px 20px;
}
.task_contlist{
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.task_contlist:hover{
    background: #f9f9f9;
    cursor:pointer;
}
.task_info{
    float: left;
    height: 90px;
    overflow: hidden;
}
.task_info .task_infoimg{
    float:left;
}
.task_info .task_infocont{
    float: left;
    width: 363px;
    margin-left: 10px;
}
.task_info .task_infocont h1{
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.task_info .task_infocont h1 a{
    color: #000;
}
.task_info .task_infocont span{
    display: block;
    margin-top: 15px;
    color: #999;
    font-size:14px;
}
.task_info .task_infocont span p{
    margin-top:5px;
}
.task_com{
    font-size:14px;
    color: #999;
    float: left;
    margin: 25px 140px 25px 60px;
    text-align: center;
    width: 60px;
}
.task_com span{
    color: #fd356f;
    font-size: 22px;
}
.task_com span i{
    font-size:14px;
}
.task_apply{
    float: left;
    margin: 25px 0px;
}
.task_apply a{
    display: block;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #ededed;
    color: #666;
    margin: 5px auto;
    font-size:14px;
    border-radius:50px;
}
.task_contlist:hover .task_apply a{
    background: #ea5e44;
    color: #fff;
}

/*任务列表右侧导航*/
.task_listright{
    width:222px;
    float: right;
}
.hot_task{
    background: #e5e5e5;
    padding: 0px 10px 10px 10px;
}
.hot_task h2{
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    font-size:15px;
    color:#333;
}
.hot_task  .scroll_task{
    margin-top:10px;
    text-align:center;
}
.hot_task .scroll_task .holder li a{
    color:#666;
    display: block;
    font-size:13px;
}
.hot_task .holder li{
    height:30px;
}
.hot_task .scroll_task .holder li a:hover{
    color: #ea5e44;
}

/*今日推荐*/
.today_rec{
    margin-top:35px;
}
.today_head{
    width: 222px;
    height:45px;
    font-size:20px;
    color:#fff;
    background:rgba(234,94,68,0.8);
    position: relative;
    text-align: center;
    margin-bottom:5px;
}
.today_head span{
    height:30px;
    display: block;
    border:1px solid #fff;
    width:200px;
    position: absolute;
    top:7px;
    left:10px;
}
.today_rec ul li{
    width:220px;
    height:185px;
    border: 1px solid #ccc;
    border-bottom:none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.today_rec ul li img{
    width:220px;
    height:183px;
}
.hover_title{
    position: absolute;
    top:100%;
}
.hover_title span{
    font-size:14px;
    padding-top:45px;
    display: block;
}
.hover_title p{
    font-size:16px;
    padding-top:10px;
}
.hover_title a{
    display: block;
    margin-top:10px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 7px 10px;
    outline: none;
    width: 40%;
    color:#ea5e44;
}
.today_rec ul li:hover .hover_title{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background:#ea5e44;
    text-align: center;
    color:#fff;
    transition: all 0.8s ease-in-out;
}

/*返回顶部*/
#btn_top{
    display: inline-block;
    width:30px;
    height:65px;
    background:url(../../public/images/5-120601155S6.png) no-repeat;
    position:fixed;
    top:260px;
    right:25px;
    z-index:999;
    display: none;
    cursor: pointer;
}