body{
    font-family: tahoma,Arial,"Microsoft YaHei",SimSun;
    font-size: 14px;
    color: #333;
}
a{
    text-decoration: none;
}
.content_box{
    background:#fff;
    width:100%;
    padding:80px 0px 0px 0px;
}
.content_box .maincontent{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    background: #f9f9f9;
}

/*左侧导航*/
.cont_sidebar{
    float: left;
    width: 200px;
}
.user_avatar{
    padding: 10px 10px 20px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.user_avatar img{
    border: 1px solid #ddd;
    border-radius: 50px;
}
.user_avatar h3{
    margin: 10px 0px 5px 0px;
    font-size: 16px;
}
.cont_sidebar ul{
    border-top: 1px solid #eaeaea;
    padding: 10px 0px;
}
.cont_sidebar ul li a{
    display: block;
    padding: 10px 0px 10px 26px;
    color: #666;
    text-align: center;
}
.cont_sidebar ul li.mytak a{
    background: url(../../public/images/memberico1.png) no-repeat 59px 11px;
}
.cont_sidebar ul li.mysave a{
    background: url(../../public/images/memberico1.png) no-repeat 58px -39px;
}
.cont_sidebar ul li.myshare a{
    background: url(../../public/images/memberico1.png) no-repeat 57px -371px;
}
.cont_sidebar ul li.mymsg a{
    background: url(../../public/images/memberico1.png) no-repeat 57px -321px;
}
.cont_sidebar ul li.user_data a{
    background: url(../../public/images/memberico1.png) no-repeat 61px -213px;
}
.cont_sidebar ul li.user_set a{
    background: url(../../public/images/memberico1.png) no-repeat 61px -271px;
}
.cont_sidebar ul li.sidebar_active a{
    color: #c22754;
    background: url(../images/memberico2.png) no-repeat 59px 11px;
}

/*模板引擎的静态块*/
.container-fluid{
    float: right;
    width: 958px;
    min-height: 500px;
    padding: 0px 20px 0px 20px;
    background: #fff;
    border-left: 1px solid #eaeaea;
}
