{% extends 'user.html' %}
{% block main %}

<div class="mymsg">
    <h1>系统消息</h1>
    <div class="mymsg_contbox">
        <div class="msgs">
            <div class="msgs_list">
                <p class="msg_date">2017-04-09</p>
                <div class="msg_cont">
                    <b>亲爱的 <span class="user_name">rainbow</span></b>
                    <h3>申请任务成功</h3>
                    <p>您于<span class="apply_time">2013-03-23 15：30：30</span>成功申请任务<span class="msg_task">听音乐一小时！</span></p>
                    <a href="#" class="msg_delete">
                        <img src="../../public/images/close.png" />
                    </a>
                </div>
            </div>
            <div class="msgs_list">
                <p class="msg_date">2017-04-09</p>
                <div class="msg_cont">
                    <b>亲爱的 <span class="user_name">rainbow</span></b>
                    <h3>申请任务成功</h3>
                    <p>您于<span class="apply_time">2013-03-23 15：30：30</span>成功申请任务<span class="msg_task">听音乐一小时！</span></p>
                    <a href="#" class="msg_delete">
                        <img src="../../public/images/close.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}