{% extends 'user.html' %}
{% block main %}

<h1>账号设置</h1>
<div class="set_box">
    <form action="" method="post" id="set_form" enctype="multipart/form-data">
        <div>
            <ul>
                <li>
                    <span>旧密码</span>
                    <p><input type="password" name="opwd"></p>
                </li>
                <li>
                    <span>新密码</span>
                    <p><input type="password" name="npwd" onblur="showpwd(this,'npwd')">
                        <div id="npwd">密码必须由6-16位的数字、字母、下划线组成</div>
                    </p>
                </li>
                <li>
                    <span>重复密码</span>
                    <p><input type="password" name="rpwd"></p>
                </li>
            </ul>
        </div>
        <div class="commit_btn"><button id="btn_submit">保存</button></div>
    </form>
</div>

<script>
    function showpwd(obj,divid) {
        var reg=/^\w{6,16}$/;
        if(!reg.test(obj.value)){
            $("#"+divid+"").css("display","block");
        }else{
            $("#"+divid+"").css("display","none");
        }
    }
</script>

{%endblock%}