<!DOCTYPE html>
<html>
<head>
    <title>新创生</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/user.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/user_task.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/mysave.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/mymsg.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/share.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/info.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/user_set.css" />
    <script src="../../public/js/china_area.js"></script>
    <script src="../../public/js/jquery-1.9.1.js"></script>
    <script src="../../public/js/ajaxfileupload.js"></script>
    <script src="../../public/js/showPic.js"></script>
</head>
<body>
<!--头部开始-->

<div id="head">
    <div class="header_box">
        <a href="" class="header_logo"><img src="../../public/images/logo.png"></a>
        <ul class="header_right" id="head_ul">
            <li><a href="/">首页</a></li>
            <li><a href="/white?num=1">小白指栏</a></li>
            <li><a href="/mission?num=2">任务大厅</a></li>
            <li><a href="/reviewed?num=3">往期踪迹</a></li>
            <li><a href="/new_focus?num=4">最新聚焦</a></li>
        </ul>
        <ul class="userInfo">
            <li class="username">欢迎,<span>{{userInfo.uname}}</span></li>
            <li class="person"><a href="/admin">个人中心</a></li>
            <li class="exit"><a href="javascript:void(0);" onclick="Exit()">退出</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <!--登录-->
    <div id="loginBox">
        <button class="login_close" onclick="loginClose()">
            <img src="../../public/images/close.png" />
        </button>
        <div>
            <h1>登录<span>还没有帐号?<a href="javascript:void(0)" onclick="reg()">立即注册</a></span></h1>
            <div class="login_content">
                <h4 style="font-weight:normal;">手机号</h4>
                <span id="login_user">
					   <input type="text" name="username" placeholder="请输入您的手机号" />
				   </span>
                <span id="login_pwd">
					   <input type="password" name="password" placeholder="请输入您的密码" />
				   </span>
                <span id="msg1"></span>
                <span><button id="login_btn">登录</button></span>
                <p>
                    <label>
                        <input type="checkbox" checked="checked" style="vertical-align:middle;" />
                        记住账号
                        <a href="javascript:void(0)" style="float:right;">忘记密码?</a>
                    </label>
                </p>
            </div>
        </div>
    </div>
    <!--注册-->
    <div id="registerBox">
        <button class="login_close" onclick="loginClose()">
            <img src="../../public/images/close.png" />
        </button>

        <h1>注册<span>已经有帐号?<a href="javascript:void(0)" onclick="log()">马上登录</a></span></h1>
        <div class="reg_content">
            <h4 style="font-weight:normal;">请用手机号码注册</h4>
            <span>
					   <input type="text" name="username" placeholder="手机号" />
				   </span>
            <span>
					   <input type="password" name="password" placeholder="密码" />
				   </span>
            <span>
					   <input type="password" name="repassword" placeholder="确认密码" />
				   </span>
            <span id="register_identify">
					   <input type="text" name="verify" placeholder="短信验证码" />
					   <button id="verify_btn" class="phoneCode" onclick="sendMessage()">获取验证码</button>
				   </span>
            <span id="msg"></span>
            <p>
                <label>
                    <input type="checkbox" checked="true" id="checkedxy" style="vertical-align:middle;" />
                    已经阅读并同意
                    <a href="javascript:void(0)">《新创生注册协议》</a>
                </label>
            </p>
            <span><button id="register_btn">注册</button></span>
        </div>

    </div>
</div>
<div id="loginMask"></div>

<!--头部结束-->
<div class="content_box">
    <div class="maincontent">
        <div class="cont_sidebar">
            <div class="user_avatar">
                <img src="../../public/images/defaultavatar.png" width="100" height="100" />
                <h3>{{userInfo.uname}}</h3>
            </div>
            <ul>
                {% if userInfo.isAdmin %}
                <li class="mytak sidebar_active"><a href="/admin/user_index?Num=0">用户列表</a></li>
                <li class="mytak"><a href="/admin/type_add?Num=1">分类管理</a></li>
                <li class="mytak"><a href="/admin/task_add?Num=2">任务管理</a></li>
                <li class="mytak"><a href="/admin/task_index?Num=3">任务首页</a></li>
                {% else %}
                <li class="mytak sidebar_active"><a href="/admin?Num=0">我的任务</a></li>
                <li class="mysave"><a href="/admin/mysave?Num=1">我的收藏</a></li>
                <li class="myshare"><a href="/admin/share?Num=2">分享/邀请</a></li>
                <li class="mymsg"><a href="/admin/mymsg?Num=3">消息(1)</a></li>
                {% endif %}
            </ul>
            <ul>
                <li class="user_data"><a href="/admin/info?Num=4">基本资料</a></li>
                <li class="user_set"><a href="/admin/user_set?Num=5">账号设置</a></li>
            </ul>
        </div>

        <div class="container-fluid">
            <!--模板引擎的静态块-->
            {%block main%}{%endblock%}
        </div>

    </div>
</div>


<!--底部开始-->
<div id="bot">
    <div class="foot_box">
        <div class="link">
            <div class="link_box">
                <a>友情链接</a>
                <a href="http://www.baidu.com" >百度</a>
                <a href="http://www.jd.com">京东</a>
            </div>
        </div>
        <div class="foot">
            <div class="foot_info">
                <div class="foot_info_left">
                    <div class="f_about_company">
                        <p>关于公司</p>
                        <p>
                            <a href="" ><img src="../../public/images/qqtp.png" title="新生交流群1" /></a>
                            <a href="" ><img src="../../public/images/group.png" title="新生交流群2" /></a>
                            <a href="" class="jt" >商务洽谈</a>
                        </p>
                        <div class="f_button_share">
                            <a href="" class="share_qq" title="分享到qq好友"></a>
                            <a href="" class="share_txwb" title="分享到腾讯微博"></a>
                            <a href="" class="share_weix" title="分享到微信"></a>
                            <a href="" class="share_txweb" title="分享到新浪微博"></a>
                        </div>
                    </div>
                    <div class="f_contact_us">
                        <ul>
                            <li>
                                <p>联系电话：</p>
                                <p style="font-size:17px">023-813888888 023-35489686665 023-354896865467</p>
                            </li>
                            <li>
                                <p>地址：</p>
                                <p>重庆市双福新区</p>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="foot_info_right">
                    <div class="foot_info_code">
                        <div class="info_code_box">
                            <img src="../../public/images/1474861508.jpg" width="76" height="76" />
                        </div>
                        <p>新创生官方二维码</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="footer_copy_box">版权所有©新创生MUX,powered by alimama THX.</div>
        </div>
    </div>
</div>
<!--底部结束-->
<script>
    $(function(){
        var reg=/\?/;
        var str=location.href;
        if(reg.test(str)){
            var li=$(".content_box").find("li");
            var Num=str.split("?")[1].split("=")[1];
            li.eq(Num).addClass("sidebar_active").siblings().removeClass("sidebar_active");
            if(Num==4 || Num==5){
                li.eq(0).removeClass("sidebar_active");
            }
        }
    });
    function Exit(){
        $.get("/api/userExit",null,function (data) {
            if(data=="0"){
                alert("网络连接失败，请稍后重试...");
            }else if(data=="1"){
                location.href="/";
                //console.log(111);
            }
        })
    }
</script>
</body>
</html>





