{% extends "layout.html" %}

{%block main%}
<div id="mission">
    <div class="mission_box">
        <div class="mis_menu">
            <ul>
                <li><a href="javascript:void(0);"   class="navs actie" onclick="showDiv(1)">全部</a></li>
                <li ><a href="javascript:void(0);"  class="navs " onclick="showDiv(2)">听音乐</a></li>
                <li><a href="javascript:void(0);"  class="navs" onclick="showDiv(3)">看电影</a></li>
                <li><a href="javascript:void(0);"  class="navs" onclick="showDiv(4)">玩游戏</a></li>
            </ul>
        </div>
        <div class="mis_list">
            <div class="zui">
                <ul>
                    <li class="m_new m_bgc"><a href="javascript:;" onclick="showDiv(4)">最新</a></li>
                    <li class="m_hot" ><a href="javascript:;" onclick="showDiv(3)">最热</a></li>
                    <li class="m_select"><a href="javascript:;">结算时间</a></li>
                </ul>
                <div class="sear_button">
                    <input type="text" name="text" id="search_keyword" />
                    <button id="btn_button"></button>
                </div>
                <div class="clear"></div>
            </div>
            <div class="mis_list_box">
                <div class="m_lists_b" id="m_lists_b">
                    <ul style="display:block">
                        {% for task in allTask %}
                        <li class="all_dis m_spe_li"><a href="/{% if task.type=='听音乐' %}detail_task1{%else%}detail_task{%endif%}">
                            <p class="me_img"><img src="../../routers/pic/1492785388214_1_201110151609081KF73.jpg" /></p>
                            <div class="m_info">
                                <p>{{task.title}}<label>{{task.tname}}</label></p>
                                <span>佣金：<b><i>￥</i>{{task.price}}</b></span>
                                <b class="m_price">{{task.num}}/</b>
                            </div>
                        </a></li>
                        {% endfor %}

                    </ul>
                  <!--  <ul>
                        <li class="all_dis m_spe_li"><a href="/detail_task1">
                            <p class="me_img"><img src="../../public/images/music_1.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>听音乐</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task1">
                            <p class="me_img"><img src="../../public/images/music_2.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>听音乐</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task1">
                            <p class="me_img"><img src="../../public/images/music_3.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>听音乐</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>




                        <li class="all_dis m_spe_li"><a href="/detail_task1">
                            <p class="me_img"><img src="../../public/images/music_9.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>听音乐</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <div class="clear"></div>
                    </ul>
                    <ul>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_1.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li "><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_2.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_3.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_4.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_5.png" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>3.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_6.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_7.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <li class="all_dis m_spe_li"><a href="/detail_task">
                            <p class="me_img"><img src="../../public/images/video_8.jpg" /></p>
                            <div class="m_info">
                                <p>aaa<label>看电影</label></p>
                                <span>佣金：<b><i>￥</i>2.00</b></span>
                                <b class="m_price">2000/</b>
                            </div>
                        </a></li>
                        <div class="clear"></div>
                    </ul>-->

                </div>

            </div>
        </div>
    </div>
</div>
<script>

    var lids=document.getElementById("m_lists_b").getElementsByTagName("ul");
    //var navs=document.getElementsByClassName("navs");
    function showDiv(n){
        for(var i=0;i<=3;i++){  /*注意i=0和i=1区别,i=1会出错，比较index.js:showPic()*/
            if(i==n-1){
                lids[n-1].style.display="block";
                // console.log(navs[n-1]);
                //navs[n-1].className="actie";
            }else{
                lids[i].style.display="none";
                // navs[i].className="actino";
            }
        }
    }

    $(function(){
        var lis=$(".mis_menu").find("li");
        lis.on("click",function(){
            $(this).find("a").addClass("actie").parent().siblings().find("a").removeClass("actie");
            //console.log($(this).find("a").parent().siblings());
        });

        var zui=$(".zui").find("li.m_new,li.m_hot");
        //console.log(zui);
        zui.on("click",function(){
            $(this).addClass("m_bgc").siblings().removeClass("m_bgc");
        });
    });

    //分页查询的图片显示



</script>
{% include "page.html" %}
{%endblock%}